<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Products list</strong>
            </li>
        </ol>
    </div>
              </div> 

             <p id="notice"><%= notice %></p>
            <div>

              <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox product-detail">
                        <div class="ibox-content">
                <div class="row">
                    <div class="col-md-5">
                        <div class="product-images">
                            <div>
                                <div class="image-imitation">
                                    [IMAGE 1]
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    [IMAGE 2]
                                </div>
                            </div>
                              <div>
                                <div class="image-imitation">
                                    [IMAGE 3]
                                </div>
                              </div>
                            </div>
                            

                    </div>
                    <div class="col-md-7">

                        
                        <hr>
                        <h4>group</h4>

                        <div class="small text-muted">
                            <%= @discount.group %>
                        </div>

                        <h4>quantity</h4>

                        <div class="small text-muted">
                            <%= @discount.quantity %>
                        </div>

                        <h4>discount</h4>

                        <div class="small text-muted">
                             <%= @discount.discount %>
                        </div>

                        <h4>date_start</h4>

                        <div class="small text-muted">
                            <%= @discount.date_start %>
                        </div>

                        <h4>date_end</h4>

                        <div class="small text-muted">
                            <%= @discount.date_end %>
                        </div>
                       
                        <div><%= link_to 'Edit', edit_discount_path(@discount) %> |
                              <%= link_to 'Back', discounts_path %></div>


                        <hr>

                        <div>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
            <div class="ibox-footer">
                            <span class="pull-right">
                                Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                            </span>
                The generated Lorem Ipsum is therefore always free
            </div>
        </div>

    </div>
</div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(window).load(function() {

    $('.product-images').slick({
        dots: true
    });

});

</script>

<% end %>




<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @discount.group %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @discount.quantity %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @discount.discount %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @discount.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @discount.date_end %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %> -->
